footer {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3rem;
    background-color: $dark-blue;
    background-image: url("/images/bg-footer.png");
 
    & h4 {
        font-weight: 600;
        color: #fff;
    }
    & hr {
        border-top: 1px solid #eaeaea;
    }
    & .container {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    & .items {
        display: flex;
        flex-direction: column;
        & a {
            margin-top: 4px;
            font-size: 1rem;
            text-decoration: none;
            color: #eaeaea;
            &:hover,
            :focus {
                transition: all 0.5s ease;
                color: #fff;
            }
        }
    }
    & img {
        width: 200px;
        height: auto;
        object-fit: contain;
    }
}
